BooksJaxb/xml-resources/jaxb/books/books.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="bookstore" type="tipoBookStore"/>
	<xs:complexType name="tipoBookStore">
		<xs:sequence>
			<xs:element name="book"  type="tipoBook" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name ="tipoBook">
		<xs:sequence>
			<xs:element name="title" type="tipoTitle"/>
			<xs:element type="xs:string" name="author" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="xs:short" name="year"/>
			<xs:element type="xs:float" name="price"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="category" use="optional"/>
	</xs:complexType>
	<xs:complexType name="tipoTitle">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="lang" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>